<?xml version="1.0"?>
<!--
/**
* Pereira, Thiago Santos
* http://thiagosantos.com/ 
*
* @category   ThiagoSantos
* @package    ThiagoSantos_CarrinhoAbandonado
*/
-->
<config>
	<modules>
		<ThiagoSantos_CarrinhoAbandonado>
			<version>0.0.1</version>
		</ThiagoSantos_CarrinhoAbandonado>
	</modules>
	<global>
		<models>
			<carrinhoabandonado>
				<class>ThiagoSantos_CarrinhoAbandonado_Model</class>
			</carrinhoabandonado>
		</models>
		<blocks>
			<carrinhoabandonado>
				<class>ThiagoSantos_CarrinhoAbandonado_Block</class>
			</carrinhoabandonado>
		</blocks>
		<helpers>
			<carrinhoabandonado>
				<class>ThiagoSantos_CarrinhoAbandonado_Helper</class>
			</carrinhoabandonado>
		</helpers>
		<template>
			<email>
				<carrinhoabandonado_email_default>
					<label>Carrinho Abandonado (default)</label>
					<file>carrinho_abandonado.html</file>
					<type>html</type>
				</carrinhoabandonado_email_default>
			</email>
		</template>
	</global>
	<frontend>
		<routers>
			<carrinhoabandonado>
				<use>standard</use>
				<args>
					<module>ThiagoSantos_CarrinhoAbandonado</module>
					<frontName>carrinhoabandonado</frontName>
				</args>
			</carrinhoabandonado>
		</routers>
	</frontend>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<carrinhoabandonado>
											<title>CarrinhoAbandonado - All</title>
										</carrinhoabandonado>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<!--Crontab-->
      <crontab>
        <jobs>
            <thiagosantos_carrinhoabandonado>
                <schedule>
                    <cron_expr>05 10 * * *</cron_expr>
                </schedule>
                <run>
                    <model>carrinhoabandonado/cron::execute</model>
                </run>
            </thiagosantos_carrinhoabandonado>
        </jobs>
    </crontab>
</config>
